---
const {name, imgArtist} = Astro.props;
---

<div class="flex flex-col flex-shrink-0 gap-2 text-center p-2 rounded-md transition-all duration-300 hover:bg-hoverColor">
    <picture class="aspect-square w-32 rounded-full overflow-hidden shadow-lg">
        <img src={imgArtist} alt="Imagen" class="transition-transform duration-300 hover:scale-105 hover:rotate-3">
    </picture>
    <div class="flex flex-col text-center">
        <b class="text-sm text-white font-medium">{name}</b>
        <small class="text-gray-400">Artist</small>
    </div>
</div>

<style>
    picture{
        box-shadow: 2px 3px 5px #000000ab;
    }
</style>